<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('检查点信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>所在地址：</label>
                                <select name="address" th:with="address=${addressNameList}">
                                    <option value="">所有</option>
                                    <option th:each="address:${address}" th:text="${address}" th:value="${address}"></option>
                                </select>
                            </li>
                            <li>
                                <label>检查点名称：</label>
                                <input type="text" name="checkName"/>
                            </li>
                            <li>
                                <label>检查类型：</label>
                                <select name="checkType" th:with="type=${@dict.getType('busi_check_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:checkPoints:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="business:checkPoints:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('business:checkPoints:add')}]];
        var editFlag = [[${@permission.hasPermi('business:checkPoints:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:checkPoints:remove')}]];
        var checkTypeDatas = [[${@dict.getType('busi_check_type')}]];
        var computLimitDatas = [[${@dict.getType('busi_condition_items')}]];
        var prefix = ctx + "business/checkPoints";

        $(function() {
            var options = {
                code: "checkId",
                parentCode: "parentId",
                expandColumn: "3",
                uniqueId: "checkId",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "检查点信息",
                columns: [{
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'address',
                    title: '所在地址',
                    align: 'left'
                },
                {
                    field: 'ancestors',
                    title: '祖级列表',
                    align: 'left'
                },
                {
                    field: 'checkName',
                    title: '检查点名称',
                    align: 'left'
                },
                {
                    field: 'checkType',
                    title: '检查类型',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(checkTypeDatas, value);
                    }
                },
                {
                    field: 'computLimit',
                    title: '计算类型',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(computLimitDatas, value);
                    }
                },
                {
                    field: 'maxValue',
                    title: '阈值',
                    align: 'left'
                },
                {
                    field: 'orderNum',
                    title: '显示顺序',
                    align: 'left'
                },
                {
                    field: 'comment',
                    title: '备注',
                    align: 'left'
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.checkId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.checkId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.checkId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });
    </script>
</body>
</html>