<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.project.business.pointPartMap.mapper.PointPartMapMapper">
    
    <resultMap type="PointPartMap" id="PointPartMapResult">
        <result property="mapId"    column="map_id"    />
        <result property="checkId"    column="check_id"    />
        <result property="partId"    column="part_id"    />
        <result property="address"    column="address"    />
        <result property="checkName"    column="check_name"    />
        <result property="partName"    column="part_name"    />
        <result property="partItem"    column="part_item"    />
        <result property="unitName"    column="unit_name"    />
        <result property="defaultFlag"    column="default_flag"    />
        <result property="comment"    column="comment"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPointPartMapVo">
        select map_id, check_id, part_id, address, check_name, part_name, part_item, unit_name, default_flag, comment, create_by, create_time from busi_pointpartmap
    </sql>

    <select id="selectPointPartMapList" parameterType="PointPartMap" resultMap="PointPartMapResult">
        <include refid="selectPointPartMapVo"/>
        <where>  
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="checkName != null  and checkName != ''"> and check_name like concat('%', #{checkName}, '%')</if>
            <if test="partName != null  and partName != ''"> and part_name like concat('%', #{partName}, '%')</if>
        </where>
    </select>
    
    <select id="selectPointPartMapById" parameterType="Long" resultMap="PointPartMapResult">
        <include refid="selectPointPartMapVo"/>
        where map_id = #{mapId}
    </select>
        
    <insert id="insertPointPartMap" parameterType="PointPartMap" useGeneratedKeys="true" keyProperty="mapId">
        insert into busi_pointpartmap
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="checkId != null">check_id,</if>
            <if test="partId != null">part_id,</if>
            <if test="address != null">address,</if>
            <if test="checkName != null and checkName != ''">check_name,</if>
            <if test="partName != null and partName != ''">part_name,</if>
            <if test="partItem != null">part_item,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="defaultFlag != null">default_flag,</if>
            <if test="comment != null">comment,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="checkId != null">#{checkId},</if>
            <if test="partId != null">#{partId},</if>
            <if test="address != null">#{address},</if>
            <if test="checkName != null and checkName != ''">#{checkName},</if>
            <if test="partName != null and partName != ''">#{partName},</if>
            <if test="partItem != null">#{partItem},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="defaultFlag != null">#{defaultFlag},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePointPartMap" parameterType="PointPartMap">
        update busi_pointpartmap
        <trim prefix="SET" suffixOverrides=",">
            <if test="checkId != null">check_id = #{checkId},</if>
            <if test="partId != null">part_id = #{partId},</if>
            <if test="address != null">address = #{address},</if>
            <if test="checkName != null and checkName != ''">check_name = #{checkName},</if>
            <if test="partName != null and partName != ''">part_name = #{partName},</if>
            <if test="partItem != null">part_item = #{partItem},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="defaultFlag != null">default_flag = #{defaultFlag},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where map_id = #{mapId}
    </update>

    <delete id="deletePointPartMapById" parameterType="Long">
        delete from busi_pointpartmap where map_id = #{mapId}
    </delete>

    <delete id="deletePointPartMapByIds" parameterType="String">
        delete from busi_pointpartmap where map_id in 
        <foreach item="mapId" collection="array" open="(" separator="," close=")">
            #{mapId}
        </foreach>
    </delete>

</mapper>